$gray0: #636368;
$gray1: #2B2B2E;
$gray2: #2A2A2E;
$gray3: #202023;

$bluedark: #24354E;

$backgroundColorDark: $gray1;
$controlColorDark: $gray3;
$highlightColorDark: $gray3;
$textColorDark: #F9F9FA;
$fillcolorDark: #3686F7;
