
$gray1: #383838;
$gray2: #333333;
$gray3: #2D2D2D;
$gray4: #252526;
$gray5: #1E1E1E;
$gray6: #121212;

$backgroundColorDark: $gray5;
$controlColorDark: $gray3;
$highlightColorDark: $gray6;
$textColorDark: #CCCCCC;
$fillcolorDark: #007ACC;
