.view_lexicon .speaker {
  font-weight: bold;
  display: block;
  margin-top: 12px;
}
.view_lexicon .milestone {
  color: #999999;
}
.view_lexicon [data-rend="italics"] {
  font-style: italic;
}
.view_lexicon .milestone[data-n].milestone[data-unit]:after {
  font-size: smaller;
  margin: 3px;
  content: "[" attr(data-unit) " " attr(data-n) "]";
}
.view_lexicon .milestone[data-unit="para"] {
  display: block;
  padding-top: 12px;
}
.view_lexicon .l {
  display: block;
  margin-left: 24px;
}
.view_lexicon .gap {
  content: "...";
}
.view_lexicon .quote,
.view_lexicon .q {
  font-style: italic;
}
.view_lexicon .bibl {
  margin-left: 3px;
  margin-right: 3px;
  font-weight: bold;
}
.view_lexicon .bibl::before {
  content: "[";
}
.view_lexicon .bibl::after {
  content: "]";
}
.view_lexicon .docauthor {
  display: block;
  padding-bottom: 16px;
}
.view_lexicon .label:not(.block) .label {
  margin-left: 8px;
  margin-right: 4px;
}
.view_lexicon .note-tag {
  margin-left: 4px;
  margin-right: 2px;
  cursor: hand;
  cursor: pointer;
}
.view_lexicon .read-more {
  margin-top: 16px;
  display: block;
}

.view_lexicon .lb {
  display: block;
}

.view_lexicon .div3 {
  padding-top: 16px;
  display: block;
}

.view_lexicon .quote > .title {
  font-weight: bold;
  display: block;
}

.view_lexicon .p {
  margin-bottom: 16px;
  display: block;
}

.view_lexicon .lemma {
  text-decoration: underline;
  font-weight: bold;
}

.view_lexicon .orth {
  font-weight: bold;
  display: block;
}

.view_lexicon .etym {
  display: block;
  margin-top: 12px;
  font-weight: bold;
}

/**
 * Style the sense entries so that they are nested accordingly
 */
.view_lexicon .sense {
  display: block;
  margin-left: 15px;
  margin-top: 8px;
}

/**
 * Set the margins
 */
.view_lexicon .sense[data-level="2"] {
  margin-left: 30px;
}

.view_lexicon .sense[data-level="3"] {
  margin-left: 45px;
}

.view_lexicon .sense[data-level="4"] {
  margin-left: 60px;
}

.view_lexicon .sense[data-level="5"] {
  margin-left: 75px;
}

.view_lexicon .sense[data-level="6"] {
  margin-left: 90px;
}

/**
 * Show the N indicator ("1.", "2.", etc.)
 */
.view_lexicon .sense[data-level]:before {
  content: "" attr(data-n) ". ";
}

.view_lexicon .sense[data-level="0"]:before {
  content: "";
}

/* -----------------------------------------
     Read work
     ----------------------------------------- */
.verse.number {
  font-weight: bold;
  color: black;
  /*
  border: white solid 1px;
  padding: 1px 4px 1px 4px;
  background-color: white;
  */
}

.verse-container {
  display: inline;
  line-height: 25px;
}

.block {
  display: block;
  margin-top: 12px;
}

.no_definition_entries {
  font-style: italic;
}

.verse .word {
  cursor: pointer;
  cursor: hand;
}
.verse .word:hover {
  text-decoration: underline;
}

.view_lexicon .tr {
  font-style: italic;
  font-weight: bold;
}

@media print {
  .view_lexicon .note-tag {
    display: none;
  }
}