@import url('https://fonts.googleapis.com/css?family=Source Sans Pro:400,700,400italic,700italic&subset=latin');

.view_read_work {
    font-size: 13pt;
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}

.view_read_work .speaker {
  font-weight: bold;
  display: block;
  margin-top: 12px;
}
.view_read_work .milestone {
  color: #999999;
}
.view_read_work [data-rend="italics"] {
  font-style: italic;
}
.view_read_work .milestone[data-n].milestone[data-unit]:after {
  font-size: smaller;
  margin: 3px;
  content: "[" attr(data-unit) " " attr(data-n) "]";
}
.view_read_work .milestone[data-unit="para"] {
  display: block;
  padding-top: 12px;
}
.view_read_work .l {
  display: block;
  margin-left: 24px;
}
.view_read_work .gap {
  content: "...";
}
.view_read_work .quote,
.view_read_work .q {
  font-style: italic;
}
.view_read_work .bibl {
  margin-left: 3px;
  margin-right: 3px;
  font-weight: bold;
}
.view_read_work .bibl::before {
  content: "[";
}
.view_read_work .bibl::after {
  content: "]";
}
.view_read_work .docauthor {
  display: block;
  padding-bottom: 16px;
}
.view_read_work .label:not(.block) .label {
  margin-left: 8px;
  margin-right: 4px;
}
.view_read_work .note-tag {
  margin-left: 4px;
  margin-right: 2px;
  cursor: hand;
  cursor: pointer;
}
.view_read_work .read-more {
  margin-top: 16px;
  display: block;
}
.view_read_work .lb {
  display: block;
}
.view_read_work .div3 {
  padding-top: 16px;
  display: block;
}
.view_read_work .quote > .title {
  font-weight: bold;
  display: block;
}
.view_read_work .castlist:before {
  content: "Cast list: ";
}
.view_read_work .castlist > .castitem:after {
  content: ", ";
}
.view_read_work .castlist > .castitem:last-child:after {
  content: "";
}
.view_read_work .argument {
  font-style: italic;
}
.view_read_work .p {
  margin-bottom: 16px;
  display: block;
}
.view_read_work .lemma {
  text-decoration: underline;
  font-weight: bold;
}
.view_read_work .orth {
  font-weight: bold;
  font-size: 14pt;
  display: block;
}
.view_read_work .etym {
  display: block;
  margin-top: 12px;
  font-weight: bold;
}
.view_read_work .sense {
  display: block;
  margin-left: 32px;
}

/* -----------------------------------------
     Read work
     ----------------------------------------- */
.verse.number {
  font-weight: bold;
  color: black;
  /*
  border: white solid 1px;
  padding: 1px 4px 1px 4px;
  background-color: white;
  */
}

.verse-container {
  display: inline;
  line-height: 25px;
}

.block {
  display: block;
  margin-top: 12px;
}

.verse-link:visited {
  color: #eee;
}
.verse-link:active {
  color: #eee;
}
.verse-link:link {
  color: #eee;
}
.verse-link:hover {
  color: #08c;
}

.no_definition_entries {
  font-style: italic;
}

.simple-progress {
  height: 6px;
  background: #202020;
}

.simple-progress > .bar {
  background-color: #149bdf;
  height: 6px;
}

@-webkit-keyframes highlighted {
  0% {
    background: #b94a48;
  }
  50% {
    background: #b94a48;
  }
  100% {
    background: #eee;
  }
}
@-moz-keyframes highlighted {
  0% {
    background: #b94a48;
  }
  50% {
    background: #b94a48;
  }
  100% {
    background: #eee;
  }
}
@-ms-keyframes highlighted {
  0% {
    background: #b94a48;
  }
  50% {
    background: #b94a48;
  }
  100% {
    background: #eee;
  }
}
@keyframes highlighted {
  0% {
    background: #b94a48;
  }
  50% {
    background: #b94a48;
  }
  100% {
    background: #eee;
  }
}
@-webkit-keyframes highlighted-dark {
  0% {
    background: #b94a48;
  }
  25% {
    background: #b94a48;
  }
  100% {
    background: #454545;
  }
}
@-moz-keyframes highlighted-dark {
  0% {
    background: #b94a48;
  }
  25% {
    background: #b94a48;
  }
  100% {
    background: #454545;
  }
}
@-ms-keyframes highlighted-dark {
  0% {
    background: #b94a48;
  }
  25% {
    background: #b94a48;
  }
  100% {
    background: #454545;
  }
}
@keyframes highlighted-dark {
  0% {
    background: #b94a48;
  }
  25% {
    background: #b94a48;
  }
  100% {
    background: #454545;
  }
}
.verse-container.highlighted {
  background-color: #eee;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-animation: highlighted 2.5s;
  -webkit-animation: highlighted 2.5s;
  -o-animation: highlighted 2.5s;
  animation: highlighted 2.5s;
}

body.dark .verse-container.highlighted {
  background-color: #454545;
  -moz-animation: highlighted-dark 2.5s;
  -webkit-animation: highlighted-dark 2.5s;
  -o-animation: highlighted-dark 2.5s;
  animation: highlighted-dark 2.5s;
}

.word.highlighted,
.word.searched {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: white;
}

.word.highlighted {
  background-color: #49afcd;
}

.word.searched {
  background-color: #468847;
}

.division-2 {
  padding-left: 24px;
}

.division-3 {
  padding-left: 48px;
}

.division-4 {
  padding-left: 72px;
}

.division-5 {
  padding-left: 96px;
}

.verse .word {
  cursor: pointer;
  cursor: hand;
}
.verse .word:hover {
  text-decoration: underline;
}

.page-shortcuts {
  position: absolute;
  top: 25%;
}

.page-shortcut {
  height: 50%;
  width: 32px;
  display: none;
  position: fixed;
  opacity: 0.4;
}

.page-shortcut:hover {
  background-color: white;
}

@media screen and (min-width: 321px) {
  /* Hide the page shortcuts on small device screens since the buttons tend to overlap with the dropdown menus*/
  .page-shortcut {
    display: block;
  }
}

textarea.clipboard-copy-text {
  width: 97%;
  min-height: 150px;
  margin-top: 16px;
}

textarea.clipboard-copy-text[readonly] {
  background-color: rgba(0, 0, 0, 0.3);
}

@media print {
  .view_read_work .note-tag {
    display: none;
  }
}
#small-message {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .visible-large-desktop {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #small-message {
    margin-top: 20px;
    margin-left: 8px;
    margin-bottom: 0;
  }
}
@media (max-width: 450px) {
  #small-message {
    margin-top: 20px;
    margin-left: 8px;
    margin-bottom: 0;
  }
}
