
@import "../StylingShortcuts/shortcuts.scss";
@import "perseus.scss";

/**
 * The following styles the note icon.
 */
 .view_read_work .hide {
    display: none;
}

.view_read_work .icon-info-sign {
    font-family: "Icons";
    font-style: normal;
}

.view_read_work .icon-info-sign:before{
    content: "\f129";
}

.verse.number{
    font-weight: bold;
}

.verse-container{
    display: inline;
    line-height: 25px;
}

.block{
    display: block;
    margin-top: 12px;
}

/**
 * Verse link.
 */
.verse-link{
    padding: 0 4px;
    &:visited { color: #EEE; }
    &:active { color: #EEE; }
    &:link { color: #EEE; }
    &:hover { color: #08C; }
}

.verse-container.highlighted {
    .verse-link{
        background-color: red;
        border-radius: 2px;
    }

    .verse.number {
        color: white;
    }
}

body.dark .verse-container.highlighted{
    background-color: #454545;
}

.no_definition_entries{
	font-style: italic;
}

/**
 * Words.
 */
.word.highlighted, .word.searched{
    @include rounded(3px);
    color: white;
}

.word.highlighted{
    background-color: #49AFCD;
}

.word.searched{
    background-color: #468847;
}

@for $i from 2 through 5 {
    .division-#{$i} { padding-left: 24px * ($i - 1); }
}

.verse{
    
	.word{
		cursor:pointer;
		cursor:hand;		
	}
	
	.word:hover{
		text-decoration: underline;
	}
}

@media print {

	.view_read_work .note-tag{
		display: none;
	}

}
