@import "../StylingShortcuts/theme.scss";

@media print {
  .ui.top.menu {
    display: none;
  }

  .underMenu {
    margin-top: 0;
  }
}

@media only screen {
  .ui.inverted.action.input.referenceJumpInput > input {
    width: 130px;
  }
}

@media only screen and (min-width: 767px) {
  .ui.inverted.action.input.referenceJumpInput > input {
    width: 180px;
  }
}

.underMenu {
  margin-top: 1em;
}

.menu.control.inverted {
  background-color: $controlColorDark;
  border-bottom: 1px solid $highlightColorDark;
}

.pushable.inverted > .pusher,
.pushable.inverted > .pusher,
.underMenu.inverted {
  background-color: $backgroundColorDark;
}

// Add a little margin to the dropdown so that it allows the language string to show up
.otherVersions > .menu > .item > .text {
  margin-right: 64px;
}

.bookProgress.ui.progress > .bar,
.bookProgress.ui.progress {
  border-radius: 0;
}
