@import "../../StylingShortcuts/shortcuts.scss";
@import "../../StylingShortcuts/theme.scss";
@import "../perseus.scss";

/**
 * The following styles the note icon.
 */
.view_read_work .hide {
  display: none;
}

.view_read_work {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.view_read_work .icon-info-sign {
  font-family: "Icons";
  font-style: normal;
}

.view_read_work .icon-info-sign:before {
  content: "\f129";
}

.verse.number {
  font-weight: bold;
}

.inverted {
  .verse.number {
    color: white;
  }
}

.verse-container {
  display: inline;
  line-height: 25px;
}

@keyframes backgroundFade {
  0%   {
    background-color:transparent;
  }
  90%   {
    background-color:transparent;
  }
  98% {
    background-color:#6f3939; left:0px; top:0px;
  }
  100% {
    background-color:#6f3939; left:0px; top:0px;
  }
}

.verse-container.noted {
  background: #563838;
  animation-name: backgroundFade;
  animation-duration: 1.5s;
}

.block {
  display: block;
  margin-top: 12px;
}

/**
 * Verse link.
 */
.verse-link {
  padding: 0 4px;
  &:visited {
    color: #eee;
  }
  &:active {
    color: #eee;
  }
  &:link {
    color: #eee;
  }
  &:hover {
    color: #08c;
  }
}

.verse-link.highlighted {
  background-color: red;
  border-radius: 2px;

  .verse.number {
    color: white;
  }
}

.inverted {
  background-color: $backgroundColorDark;
  color: $textColorDark;
}

.no_definition_entries {
  font-style: italic;
}

/**
 * Words.
 */
.word.highlighted,
.word.searched {
  @include rounded(3px);
  color: white;
}


$blue: #49afcd;
$green: #49cd5f;
$yellow: #cdcb49;
$orange: #cd7e49;
$purple: #c949cd;
$red: #cd4949;

// This will highlight the word that is hovered over
.highlight0{
  background-color: $blue;
}

// This highlights the related words
@for $i from 0 through 10 {
  .highlight#{$i * 5 + 1} {
    background-color: $red;
  }

  .highlight#{$i * 5 + 2} {
    background-color: $green;
  }

  .highlight#{$i * 5 + 3} {
    background-color: $yellow;
  }

  .highlight#{$i * 5 + 4} {
    background-color: $orange;
  }

  .highlight#{$i * 5 + 5} {
    background-color: $purple;
  }
}

.word.searched {
  background-color: #468847;
}

@for $i from 2 through 5 {
  .division-#{$i} {
    padding-left: 24px * ($i - 1);
  }
}

.verse {
  .word {
    cursor: pointer;
    cursor: hand;
  }

  .word:hover {
    text-decoration: underline;
  }
}

@media print {
  .view_read_work .note-tag {
    display: none;
  }
}

// Make the various instances of font-size adjustment
@for $i from 0 through 5 {
  .fontSize-#{$i} {
    font-size: 15px + ($i * 2);
    line-height: 1.1 + ($i * 0.22);
  }
}
