
.sidebarMenuAccordion {
    text-align: left;
    background: #1B1C1D;
    padding-left: 16px;
    border-bottom: 1px solid #666;
}

.verticalButton {
    width: auto;
}

.sidebarSegmentGroup {
    border-width: 0;
}

.sidebarSegment {
    background: #1B1C1D;
}

div.bookInfo {

    text-align: left;
    padding: 16px;
    border-bottom: 1px solid #666;

    .bookImage {
        width: 80px;
        display: inline-block;
    }

    .bookOptions {
        width: 200px;
        display: inline-block;
    }
}