@import "./components/StylingShortcuts/theme.scss";

body {
    background-color: $backgroundColorDark;
}

.ui.inverted.placeholder,
.ui.inverted.placeholder > :before,
.ui.inverted.placeholder .image.header:after,
.ui.inverted.placeholder .line,
.ui.inverted.placeholder .line:after,
.ui.inverted.segment,
.ui.horizontal.segments > .ui.inverted.segment,
.ui.checked.checkbox.inverted > label,
.ui.bottom.attached.segment.active.tab.inverted
{
    background-color: $backgroundColorDark;
}

.inverted > .ui.tabular.menu > .item
{
    background-color: $backgroundColorDark;
    color: $textColorDark;
}

.inverted > .ui.tabular.menu
{
    border-bottom: 1px solid #555;
}

.inverted > .ui.tabular.menu > .item.active
{
    color: $textColorDark;
    border-color: #555;
    border-bottom: none;
}

.ui.checkbox.inverted > label,
.ui.checkbox.checked.inverted > label,
input.ui.checkbox.checked.inverted:focus > label,
input.ui.checkbox.inverted:focus > label,
.ui.checkbox.inverted input:focus ~ label
{
    color: $textColorDark;
}

table.ui.inverted.table > thead {
    background-color: $controlColorDark;
}

table.ui.inverted.table > tbody {
    background-color: $highlightColorDark;
}

.ui.info.message.inverted {
    background-color: #143c75;
    box-shadow: 0px 0px 0px 1px #1c55a5 inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
    > .header {
        color: $textColorDark;
    }
    > .content > .header {
        color: $textColorDark;
    }
}

.ui.warning.message.inverted {
    background-color: #774100;
    box-shadow: 0px 0px 0px 1px #cc7103 inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
    > .header {
        color: $textColorDark;
    }
    > .content > .header {
        color: $textColorDark;
    }
}